header {
    background-image: url(../imgs/pattern.png);
    background-color: lightskyblue;
    background-size: cover;
    padding: 0;
}

#logo {
    height: 15%;
    width: 15%;
}

mark {
    background-color: yellow;
}

thead {
    color: white;
    background-color: blue;
}

.tr-bg-color {
    background-color: aqua;
}

h5 {
    color: gray;
    margin: 0px;
}

h6 {
    color: gray;
    margin: 0px;
}

h1 {
    margin-bottom: 0px;
}

.monitor {
    background-image: url(../imgs/monitor.jpg);
}
.graph {
    background-image: url(../imgs/graph.jpg);
}