header {
    background-image: url(../imgs/pattern.png);
    background-color: rgb(78, 160, 255);
    background-size: 325px;
    padding-top: 35px;
    margin: -8px;
}

#logo {
    width: 15%;
    padding-left: 6px;
}

mark {
    background-color: yellow;
}

thead {
    color: white;
    background-color: rgb(32, 169, 229);
}

.tr-bg-color {
    background-color: rgb(177, 229, 242);
}

h4 {
    color: grey;
}

h5 {
    color: gray;
    font-weight: normal;
    margin: 0px;
}

h6 {
    color: gray;
    font-weight: normal;
    margin: 0px;
}

h1 {
    margin-bottom: 0px;
    letter-spacing: -1px;
}

#monitor {
    color: white;
    background-image: url(../imgs/monitor.jpg);
    width: 207px;
    height: 157px;
    margin-bottom: -10px;
    margin-top: -15px;
    padding-top: 5px;
    padding-left: 10px;
    background-size: cover;
}

#graph {
    color: white;
    background-image: url(../imgs/graph.jpg);
    width: 207px;
    height: 157px;
    background-size: cover;
    padding-top: 5px;
    padding-left: 10px;
}

.tb-color {
    color: lightskyblue;
}

figure {
    padding-left: 0%;
    margin-left: 0%;
    font-size: 11px;
}

ul {
    padding-left: 17px;
}

#img1 {
    width: 53%;
}

#img2 {
    width: 46%;
}

body {
    height: 297mm;
    width: 210mm;
}

.fontsize {
    font-size: 12.5px;
}

th {
    text-align: left;
}